<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.liuhw.rxanroiddemo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".CreatingObservablesActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".creating.CreateActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".creating.DeferActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".creating.JustActivity">
        </activity>
        <activity android:name=".creating.EmptyAndErrorAndNeverActivity">
        </activity>
        <activity android:name=".creating.FromActivity">
        </activity>
        <activity android:name=".creating.IntervalActivity">
        </activity>
        <activity android:name=".creating.RangeAcitivity">
        </activity>
        <activity android:name=".creating.RepeatActivity">
        </activity>
    </application>

</manifest>